<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library.DbService.Properties.Settings.SqlServerConnectionString"
            connectionString="Server=.;Database=Library_Db;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>