<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library.DbService.Properties.Settings.SqlServerConnectionString"
            connectionString="DataSource=192.168.88.20,1433;InitialCatalog=Library_Db;UserID=sa;Password=13851385Ab" />
    </connectionStrings>
</configuration>